﻿@model IEnumerable<ConfereceSignUp.Models.ConferenceUser>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-5">
        @Html.Partial("Create", new ConferenceUser())
    </div>
    <div class="col-md-7">
        @Html.Partial("UserList", Model)
    </div>
</div>

        <div id="page-selection">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Poprzednia</a>
                    </li>
                    <li class="_list"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="list" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="_list"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Następna</a>
                    </li>
                </ul>
            </nav>
        </div>
